*,*::before,*::after {
  box-sizing: border-box;
}


body{
	background-image: url(../images/bg.jpg);
	background-size: cover;
	/* background-color: ; */
	margin: 0;
	font-family: arial;
	z-index: 6000;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
	color: #333;
}


img{
	max-width: 100%;
}
body,html{
	scroll-behavior: smooth;
}
.header{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	z-index: 100;
	padding: 20px;
}

.main_nav ul{
	align-items:left;
	padding: 0;
	margin: 0;
	list-style: none;
}
.main_nav ul li{
	align-items:left;
	display: inline-block;
	margin: 0 0 0 20px;
	font-size: 16px;
}
.main_nav ul li a{
	display: flex;
  align-items: left;
  justify-content: left;
	/* align-items:left; */
	color: #fff;
	transition: all 0.3s ease-out;
	text-decoration:none;
}
.main_nav ul li:hover a{
	color: #f12626;
}

/*banner*/
.banner{
	background-color:#ffffff;
	background-blend-mode: darken;
	min-height: 100vh;
	position: relative;
	background-size: cover;
	color: #fff;
	padding: 100px 50px 100px 0;
}
.banner h1{
	font-size: 60px;
	color: #fff;
	font-weight: 700;
}
.socila_links{
	position: absolute;
	right: 20px;
	top:50%;
	transform: translateY(-50%);
	padding: 0;
	margin: 0;
	list-style: none;
	font-size:22px;
}
.socila_links li{
	margin: 10px 0;
}
.socila_links li a{
	color: #fff
}
.socila_links li a:hover{
	color: #f12626
}
.banner_cont{
	padding: 30px;
	background:rgba(0,0,0,.6);
	transform: scaleY(0);
	animation:1s scaleAnim 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}
@keyframes scaleAnim{
	0%{transform: scaleY(0); opacity: 0;}
	100%{transform: scaleY(1); opacity: 1; }
}

/*about-section*/
.about-section{
	background-color: #010519;
	padding: 80px 20px;
	color: #fff;		
}
.about-section h2{
	font-size: 40px;
	color: #fff;
	margin: 0 0 30px;
}
.bdr-btm{
	position: relative;
	padding-bottom: 15px;
}
.bdr-btm:after{
	content: "";
	width: 50px;
	height: 3px;
	background-color: #f12626;
	position: absolute;
	left: 0;
	top: 100%;
}
.bdr-btm.bdr-btm-center:after{
	left: 50%;
	margin-left: -25px;
}
.btn1{
	border: 0px;
	display: inline-block;
  color: white;
  background: #020f46;
  padding: 11px 25px;
  margin: 0 0 15px 0;
  font: 14px/20px "Open Sans", sans-serif;
  height: 42px;
  outline: none;
  width: auto;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}
.about-box{
	background: #020f46;
	padding: 30px;
}
.about-box ul{
	padding-left: 15px;
}
.about-box ul li{
	margin-bottom: 20px;
}
.about-box h3{
	margin-bottom: 20px;
}


/*portfolio-section*/
.portfolio-section{
	padding: 80px 0;
	background-color: #000
}
.portfolio-section h2{
	font-size: 40px;
	color: #fff;
	margin: 0 0 30px;
}
.portfolio-box{
	padding-bottom: 70%;
	background-size: cover;
	background-position: center center;
	margin:30px 15px 30px;
	transition: all 0.3s ease-out;
	background-blend-mode: darken;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.portfolio-box:hover{
	background-color:#0021a7;
}
.portfolio-box h3 {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	color: #fff;
	transition: all 0.3s ease-out;
	transform: scale(5);
	opacity: 0;
	pointer-events: none;
}
.portfolio-box:hover h3{
	transform: scale(1);
	opacity: 1;
}
#port_pop_pic_bg{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: all 0.3s ease-out; 
	pointer-events: none;
}
#port_pop_pic_bg.active{
	opacity: 1;
	pointer-events: auto;
}
#port_pop_pic{
	position: fixed;
	left: 100px;
	top: 100px; 
	width: calc(100% - 200px);
	height: calc(100% - 200px);
	z-index: 1000;
	transform: scale(0);
	transition: all 0.3s ease-out; 
	background-size: cover;
	background-position: center center;
}
#port_pop_pic.active{
	transform: scale(1);
}

input:not([type="submit"]),
textarea{
	border: 1px solid #abb3c0;
	color: #667080;
	padding: 10px 16px;
	margin: 0 0 15px 0;
	font: 14px/22px "Open Sans", sans-serif;
	background-color: white;
	height: 42px;
	outline: none;
	width: 100%;
	text-align: left;
	border-radius: 4px;
}
textarea{
	height: 80px
}
input[type="submit"]{
	border: 0px;
  color: white;
  background: #010519;
  padding: 11px 25px;
  margin: 0 0 15px 0;
  font: 14px/20px "Open Sans", sans-serif;
  height: 42px;
  outline: none;
  width: auto;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}
 #bar {
	
	position: relative;
	left: 950px;
	
	width:500px;
	border: none;
	background: #262626;
	background-color: #FFF;
	/* box-shadow:  8px 8px 15px #202020, 
				 -8px -8px 15px #2c2c2c; */
	transition: box-shadow .35s ease;
	outline:none;
	color:black;

}

#bar:hover {
	
	position: relative;
	left: 950px;
	
	width:500px;
	border: none;
	background: #262626;
	background-color: #FFF;
	box-shadow:  8px 8px 15px #202020, 
				 -8px -8px 15px #2c2c2c;
	transition: box-shadow .35s ease;
	outline:none;
	color:black;

}


.popup .content {
	position:fixed ;
	top: 500px;
	left: 50%;
	transform: translate(-50%,-150%) scale(0);
	width: 400px;
	height: 550px;
	z-index: 2;
	text-align:justify;
	padding: 60px;
	border-radius: 20px;
	background: #262626;
	/* box-shadow:  38px 38px 56px #1e1e1e, 
				-25px -25px 38px #1e1e1e; */
	z-index: 1;
	cursor: pointer;
   }
   
   .popup .close-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	color: white;
	font-size: 30px;
	border-radius: 50%;
	padding: 2px 5px 7px 5px;
	background: #292929;
	/* box-shadow:  5px 5px 15px #1e1e1e, 
				-5px -5px 15px #1e1e1e; */
	}
   
   .popup.active .content {
   transition: all 300ms ease-in-out;
   transform: translate(-50%,-50%) scale(1);
   }
   
   h1 {
	text-align: center;
	font-size: 32px;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 10px;
   }
   
   a {
	font-weight: 600;
	color: white;
   }
   
   .input-field .validate {
   padding: 20px;
   font-size: 16px;
   border-radius: 10px;
   border: none;
   margin-bottom: 15px;
   color: #bfc0c0;
   background: #262626;
   box-shadow: inset 5px 5px 5px #232323, 
			   inset -5px -5px 5px #292929;
   outline: none;
   }
   
.first-button{
	
	cursor: pointer;
	border: 1px solid #ffffff;
	background-color:rgba(0, 0, 0, 0.644);
	height: 35px;
	width: 80px;
	color: #ffffff;
	font-size: 1.2em;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.first-button:hover{
	
	cursor: pointer;
	border: 1px solid #ffffff;
	background-color:transparent;
	height: 35px;
	width: 80px;
	color: #ffffff;
	font-size: 1.2em;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
    */
   .first-button:active {  
   background: linear-gradient(145deg, #222222, #292929);
   /* box-shadow:  5px 5px 10px #262626, 
				-5px -5px 10px #262626; */
   border: none;
   }
    
   .second-button {
   color: white;
   font-size: 18px;
   font-weight: 500;
   margin-top: 20px;
   padding: 20px 30px;
   border-radius: 40px;
   border: none;
   background: #262626;
   box-shadow:  8px 8px 15px #202020, 
				-8px -8px 15px #2c2c2c;
   transition: box-shadow .35s ease !important;
   outline: none;
   }
   
   .second-button:active{
   background: linear-gradient(145deg,#222222, #292929);
   box-shadow: 5px 5px 10px #262626, -5px -5px 10px #262626;
   border: none;
   outline: none;
   }
   p{
   color: #bfc0c0;
   padding: 20px;
   }

   /* .carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
} */

.brands{
	/* position: relative; */
	
	/* left: 450px; */
    /* margin:160px auto; */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.cod-5{
    width:160px;
}

.cod-5 img{
    width: 100%;
    cursor:pointer;
    filter: grayscale(100%);
}

.cod-5 img:hover{
    filter: grayscale(0);
}


/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}


.search_icon_top{
	position:relative;
	left: 373px;
	width: 70px;
	top: 1px;
	cursor:pointer;
}